

  <!-- <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" > -->

  <div class="userform ">

    <div class="Username mt-5 ">

    <label for="username">Username </label><br>
    <input type="text" pInputText id="username" placeholder="enter username" name="username" formControlName="username" >
    <br>
    <br>
  </div>

    <label for="email" class="label">Email*</label><br>
    <!-- <input type="email" pInputText formControlName="email" > -->
    <input type="email" pInputText id="email"   placeholder="enter email" name="email"  formControlName="email"/>
  <!-- <div  style="color: red;" *ngIf="email && email.invalid && email.dirty">Enter valid Email</div> -->

    <br>
    <br>


    <br>
    <br>

    <div class="btn mb-5">

    <!-- <p-button type="submit" label="submit" [disabled]="UserData.invalid"></p-button> -->
  </div>
       <div class="btn mb-5" let i="index">
       <!-- <p-button type="Delete" label="Delete" class="ml-3" (Click)="Ondelete(UserData)" ></p-button> -->
      <!-- <p-button type="Edit" label="Edit" class="ml-3" (Click)="OnEdite(UserData)" ></p-button> -->
  </div>
  </div>
