<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<!-- <header>
  <nav >
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="myActiveClass active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="myActiveClass active"  >about</a></li>

      <li class="nav-item"><a class="nav-link" routerLink="/Contact" routerLinkActive=" routerLinkActive active" >Contact</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/product" routerLinkActive="myActiveClass active" >Product</a></li>
    </ul>
  </nav>
</header> -->


 <header>
   <nav>
    <a class="navbar-brand" href="#">Observable and Promises</a>
    <strong class="badge badge-primary" *ngIf="Exclusive">Exclusive</strong>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLink="/form" routerLinkActive="myActiveClass active" [routerLinkActiveOptions]="{exact:true}">From</a></li>
      <!-- <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="myActiveClass active" >About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/product" routerLinkActive="myActiveClass active" >Product</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/parents" routerLinkActive="myActiveClass active" >Note</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/form" routerLinkActive="myActiveClass active" >Form</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/update" routerLinkActive="myActiveClass active" >Update</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="myActiveClass  active" >Contact</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/parents" routerLinkActive="myActiveClass active" >Parent</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/subject" routerLinkActive="myActiveClass active" >Subject</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/demo" routerLinkActive="myActiveClass active" >Demo</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/map" routerLinkActive="myActiveClass active" >Map Operator</a></li> -->
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/childs" routerLinkActive="myActiveClass active" >Child</a></li> -->
      </ul>
     </nav>
 </header>



<router-outlet></router-outlet>


