<p>product works!</p>
<h2>Parent Component</h2>

<!-- <button (click)="cliked()">Added</button> -->

<input [(ngModel)]="data">
<h2>{{data}}</h2>

<!--
<ul>
  <li *ngFor="let user of users">
    {{user.name}}  --  {{user.email}}
  </li>
</ul> -->

<!-- <form #usersForm="ngForm"  (ngSubmit)="getUserFormData(usersForm.value)">
  <input type="text" ngModel name="name" placeholder="Enter Name">
  <br><br>
  <input type="text" ngModel name="email" placeholder="Enter Email">
  <br><br>
  <input type="password" ngModel name="password" placeholder="Enter password">
  <br><br>
  <button>Add New User</button>
</form> -->


