<p>child works!</p>
<h2>Child Component</h2>
<!-- <button (click)="onclick()">Click</button> -->
<!--
<h4>Name received parent:{{Employeename}}</h4>
<ul>
  <li>{{Employeeobj.name}}</li>
  <li>{{Employeeobj.age}}</li>
  <li>{{Employeeobj.course}}</li>
</ul> -->

<!-- <button class="btn btn-primary" (click)="SendData()">Send Data to Parent</button> -->
<!-- <button class="btn btn-success" (click)="SendsData()">Send Data</button> -->



<!-- <div *ngFor="let items of todoList; let i=index" id="items">
  <p>UserName : </p>
  <p  class="col-mt-4  ml-4 MB-4">{{items}}</p>
  <button id='delbtn' class="btn btn-danger MB-4 " (click)="deleteItem(i)">Delete</button>
</div> -->




