.page-area{

  background-color: rgb(246, 242, 242);
  margin-top: 80px;



}
h2{
  margin-top: 12px;
  text-align: center;

}
p{
  text-align: center;
}
.form{

  background-color: antiquewhite;
  /* margin-left: 4px; */
}
h3{
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

input.ng-invalid.ng-touched,
select.ng-valid.ng-touched{
  border: 1px solid red;
  box-shadow: 0 0 13px inset #ff000045;
}
