<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="page-area">
  <h2>Home</h2>
  <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sint debitis fugit adipisci vel fugiat pariatur
    modi ipsam excepturi.</p>
<h2 >{{2 | currencyPipeTs: 4}}</h2>

<!-- <h2>{{value | custome}}</h2>
<h2>{{date | date }}</h2>
<h2>{{5 | percent:'1.2-4'}}</h2>
<h2>{{5 | number:'1.2-3'}}</h2> -->

<h2 appCustomeDirective>This is Custome Directives </h2>
<!-- <div class="row  justify-content-center">
  <div class="col-md-6 text-left bg-white rounded shadow py-3 mt-4  mb-4"> -->

    <!-- <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" >
      <div class="form-group ">
        <h3>Fill Details</h3>
        <label  for="username" >UserName*</label>
        <input type="text" class="form-control" id="username"
          placeholder="Enter Username" name="username" [(ngModel)]="userName" required >
        <small *ngIf="userName">Your UserName is {{userName | uppercase}}</small>
      </div>-->
<!--
        <div class="form-group ">
          <label for="email">Email*</label>
          <input pInputText type="email" class="form-control" id="email" placeholder="Enter Email" name="email"  ngModel required email #email="ngModel" >
          <small class="text-danger" *ngIf="!email.valid && email.touched" >Please Enter Valid Email</small>
                </div>



        <div class="form-group ">

          <label  for="course">Select Course</label><br>
          <select class="form-control" id="course" name="course" [ngModel]="defaultCourse">
            <option value="Angular" >Angular</option>
            <option value="html">html</option>
            <option value="Javascript">Javascript</option>
            <option value="Javascript">CSS</option>
          </select>
        </div>

        <div class="from-group">
        < class="custom-control custom-radio" *ngFor="let gender of genders">
           <input class="form-check-input" type="radio" name="gender" id="{{gender.id}}"> -->
          <!-- <label class="form-check-label" for="gender">
           Female
          </label>

          <input class="custom-control custom-radio" type="radio" name="gender" id="gender" >
          <label class="form-check-label" for="gender">
            Male
          </label>
        </div>
      </div>


        <button type="submit" class="btn btn-success " [disabled]="!myForm.valid">Submit</button>

      </form>
    </div>
  </div>
</div> -->

<!-- <app-contact > </app-contact> -->

 <!-- <input type="text" pInputText #code />
 <input type="text" pInputText #name />
 <input type="text" pInputText #quantity /> -->

<!-- <div class="card"> -->
  <!-- <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }"> -->
      <!-- <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Quantity</th>
          </tr>
      </ng-template> -->
      <!-- Add an item:<input type="text" id="item-input" #newItem>
<button type="button" (click)="addnewItem(newItem.value)">Add to parent's list</button>

      <ng-template pTemplate="body" let-product>
          <tr *ngFor="let product of productarr">
              <td>{{ product.code }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.quantity }}</td>
          </tr>
      </ng-template> -->
  <!-- </p-table> -->
<!-- </div> -->


<!-- <div class="card">
  <div class="card-header">
    Comp 1
  </div>
  <div class="card-body">
    <h5 class="card-title">Username is <span class="text-primary">{{username}}</span> </h5>
    <input type="text" class="form-control mb-2" #uname>
    <button class="btn btn-primary" (click)="onChange(uname)">Change</button>
  </div>
</div> -->



<!-- <div class="card">
  <div class="card-header">
    Comp 1
  </div>
  <div class="card-body">
    <h5 class="card-title">Username is <span class="text-primary">{{username}}</span> </h5>
    <input type="text" class="form-control mb-2" #uname>
    <button class="btn btn-primary" (click)="onChange(uname)">Change</button>
  </div>
</div>
 -->

<!-- <app-subject (NewItem)="AddedItem($event)"></app-subject>
Showing Data From Child:
<ul>
<li *ngfor="let item of items">
{{item}}
</li>
</ul> -->
